@font-face {
  font-family: "iranYekan";
  src: url(./assets/fonts/Qs_Iranyekan\ medium.ttf) format(ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "iranYekan";
  src: url(./assets/fonts/Qs_Iranyekan\ bold.ttf) format(ttf);
  font-style: normal;
  font-weight: 700;
}
body,
button {
  font-family: "iranYekan";
}
